.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  margin: 10px;
  width: 25rem;
  text-align: center;
  background-color: #e7e7e7;
  border-radius: 5px;
}
.card img {
  margin: 10px auto;
  width: 24rem;
  height: 17rem;
  overflow: hidden;
  border-radius: 5px;
}

.cards {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.dataCentered {
  text-align: center;
}

.headerLogo {
  text-align: right;
  height: 70px;
}
.headerLogo img {
  margin: 10px;
  height: 125px;
}

.infoText {
  margin: 10px;
  height: 75%;
  text-align: justify;
}

.infoTitle {
  font-size: 2rem;
  font-weight: 600;
}

.contactInfo {
  list-style-type: none;
  text-align: center;
  display: block;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn.btn-primary {
  justify-content: flex-end;
  display: flex;
}
